body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 50%;
}

form{
    margin: 1rem;
    background-color: #ffeeee;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    border: #ff4500 solid 3px;
}

input, textarea{
    height: 2rem;
    width: 100%;
    border-radius: 0.5rem;
    border: #ff6b2b solid 3px;
    margin-bottom: 1rem;
    padding: 0.3rem;
}

label{
    font-weight: bold;
}

.contenedor_centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nombreC{
    height: 3rem;
    font-size: large;
}

#desc{
    height: 10rem;
    resize: none;
}

.enviar{
    background-color: #ffeeee;
    width: 30%;
    height: 3rem;
    margin-bottom: 0rem;
    font-size: medium;
    font-weight: bold;
    transition: background-color 0.5s ease, border-color 0.5s;
}

.enviar:hover{
    background-color: #ff6b2b;
    border-color: #ffeeee;
}



.retroceder{
    background-color: #ffeeee;
    border: 3px solid #ff4500;
    border-top: 0px;
    border-left: 0px;
    color: #ff6b2b
}

.entrada{
    height: 2.5rem;
}

#nombre_libro{
    border-color: #8500ff;
}