@font-face{
  font-family: montserrat;
  src: url(../Montserrat-Italic-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    line-height: 1.5;
  }
  .link_index{
    text-decoration: none;
  }
  nav{
    display: flex;
    justify-content: space-between;
    background-color: #DE9102;
    align-items: center;
    height: 5rem;
  }
  .logo-titulo{
    display: flex;
    align-items: center;
  }
  .titulo{
    margin-left: 13px;
  }
  .logo{
    width: 3.75rem;
    height: 3.75rem;
    margin-left: 13px;
  }
  .opciones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
  }
  .precios, .ayuda, .fundadores{
    color: black;
  }
  .logeo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13rem;
    margin-right: 13px;
  }
  .iniciar-sesion{
    width: 5rem;
    text-align: center;
    color: black;
  }
  .crear-cuenta{
    width: 5rem;
    text-align: center;
  }
  .letra-crear-cuenta{
    color: white;
  }
  a{
    text-decoration: none;
  }