@font-face{
    font-family: montserrat;
    src: url(../Montserrat-Italic-VariableFont_wght.ttf);
  }
*{
    padding: 0;
    margin: 0;
    font-family: montserrat;
}
html{
    height: 100%;
}

body{
    background-image: url("../imagenes/imagen_crear_cuenta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: #DE9102;
}
form{
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
    width: 30rem;
    padding: 8%;
    border-radius: 13px
}
.div_correoerror{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.correoerror{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1rem 1rem;
    background-color: rgb(202, 73, 73);
    color: white;
    padding: 1rem;
}
.div_texto_principal{
    width: auto;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 230%;
}
hr{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.campos{
    margin-top: 1.5rem;
    width: auto;
}
input[type="text"],[type="email"],[type="number"],[type="password"]{
    margin-top: 0.3rem;
    padding: 0.5rem;
    width: 92%;
}
.campos_selector{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input[type="radio"]{
    margin-right: 13px;
}
.campos_enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 8rem;
}
input[type="submit"]{
    font-size: 113%;
    border: none;
    background-color: #DE9102;
    width: 13rem;
    height: 3rem;
    color: white;
}
input[type="submit"]:hover{
    background-color: #a16a03;
}

.especialidad{
    font-size: 113%;
    border: none;
    background-color: white;
    width: 18rem;
    height: 2.5rem;
    color: #DE9102;
    border-radius: 13px;

    
}

.campos_especialidad{
    display: none;
    justify-content: space-between;
    align-items: center;
}