@font-face{
    font-family: montserrat;
    src: url(../Montserrat-Italic-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    line-height: 1.5;
}
body, html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tarea{
    display: grid;
    grid-template: 
        "titulo estado_entrega" 1fr
        "descripcion_tarea area_entrega" 2fr
        "descripcion_tarea botones_entrega" 1fr /
        3fr 1.5fr;
    width: 60rem;
    height: 30rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.titulo{
    grid-area: titulo;
    display: flex;
    align-items: center;
    font-size: 130%;
    border-bottom: 1px solid black;
    padding: 1rem;
}
.descripcion_tarea{
    grid-area: descripcion_tarea;
}
.titulo_descripcion{
    font-size: 130%;
}
.descripcion{
    padding: 1rem;
    width: auto;
    height: 15rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #eee;
}
.estado_entrega{
    grid-area: estado_entrega;
    font-size: 130%;
}
.texto_entrega{
    padding: 0.5rem;
}
.seccion_entrega{
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(101, 177, 101);
    color: white;
}
.area_entrega{
    grid-area: area_entrega;
    background-color: rgb(132, 141, 132);
}
.botones_entrega{
    grid-area: botones_entrega;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guardar, .cancelar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    border: none;
    color: white;
}
.guardar{
    background-color: rgb(68, 68, 189);
}
.cancelar{
    background-color: rgb(206, 71, 71);
}
.tarea div{
    margin: 1rem;
}